body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 22px;
  /* Sets the font size to 16px */
  line-height: 1.2;
  /* Sets the line-height to 1.6 */
  background-color: lightgray;
}